/*bootstrap form general style override */
.no-margin{
  margin-left : 0 !important;
  margin-right : 0 !important;
}

.form-header{
  color : #08C;
  font-family : monospace;
}
form{
  font-family : monospace;
  color : grey;
}
.form-control{
  border : none;
  background-color : unset;
  box-shadow : none;
  border-bottom : #08C 1px dashed;
  border-radius : 0;
  color : grey;
}
.form-control:focus{
  box-shadow : none;
  border-bottom : #08C 2px solid;
  border-radius : 0;
  color : #08C;
}

fieldset{
   border : lightgrey 1px solid;
   background-color : #fcfcfc;
   padding : 10px;
   margin-bottom :10px;
}
fieldset > label{
	font-size : 12px;
	font-weight : bold;
	background-color : #08C;
	font-family : monospace;
	color :white;
	padding: 2px 5px;
	position:relative;
	left:-11px;
	top:-11px;
}
/*ends*/

.border{
	border : lightgrey 1px solid;
}

.settings-right-panel{
	height : 750px;
	overflow-y : auto;
	ocerflow-x: hidden;
}

.hidden{
	display : none;
}
