/**global commons*/
body{
	font-family : monospace;
	fontsize : 12px;
}
a{
	background-color : unset;
}
.overlay-holder{
	position : relative;
}
.glyphicon:before {
	padding-right : 4px;
}
.navbar{
	border-radius : none !important;
}
.control-bar{
	padding : 15px;
}
.popover{
	width : 100%;
	max-width : unset;
	display : block;
	padding : 10px;
	min-height : 100%;
}
.response-box{
	width : 300px;
	max-height : 600px;
	min-height : 200px;
	overflow-x : hidden;
	overflow-y : auto;
	box-shadow : 0px 5px 10px #000;
	padding : 10px;
	position : fixed;
	display : none; 
	z-index : 2012;
	bottom : 0;
	right : 30px;
}
.response-box.error .close{
	color : #D82222;
	opacity : 0.5;
}
.response-box.error .close:hover{
	opacity : 1;
}
.response-box.error{
	min-height : 150px;
	color : #D82222;
	background-color : #fff;
	border : 2px solid #D82222;
}
.response-box.success{
	background-color : #158AFF;
	color : #fff;
	min-height : 100px;
}
.overlay{
	z-index : 2000;
	display : none;
	width : 100%;
	height : 100%;
	background-color : grey;
	opacity : 0.6;
	position : fixed;
	left : 0;
	text-align : center;
	color : white;
}
.overlay-text{
	position : relative;
	top : 46%;
}
.legend{
	font-size : 12px;
	font-weight : bold;
	background-color : #337AB7;
	font-family : monospace;
	color :white;
	padding: 2px 5px;
	position:relative;
	left:-1px;
	top:-1px;
}

.clear{
	margin-right : 10px;
}
/*bootstrap form general style override */
.no-margin{
  margin-left : 0 !important;
  margin-right : 0 !important;
}

.form-header{
  color : #337AB7;
  font-family : monospace;
  padding-left : 15px;
}
form, .firststeps-submit-panel{
  font-family : monospace;
  color : grey;
}
.form-control{
  border : none;
  background-color : unset;
  box-shadow : none;
  border-bottom : #337AB7 1px dashed;
  border-radius : 0;
  color : grey;
}
.form-control:focus{
  box-shadow : none;
  border-bottom : #337AB7 2px solid;
  border-radius : 0;
  color : #337AB7;
}

fieldset{
   border : lightgrey 1px solid;
   padding : 10px;
   margin-bottom :10px;
}
fieldset > label{
	font-size : 12px;
	font-weight : bold;
	background-color : #337AB7;
	font-family : monospace;
	color :white;
	padding: 2px 5px;
	position:relative;
	left:-11px;
	top:-11px;
}
.optional:after{
	content : ' (Optional)';
	font-weight : normal;
	color : #999999;
}
.info{
	font-size : 12px;
	color : grey;
}
#firststeps-church{
	max-width : 800px;
	margin : 0 auto;
}
.form-horizontal  button.submit{
	margin-right : 20px;
}
.with-img > fieldset label{
	left : 0px;
} 
/** first  steps styles ends **/
/**settings starts**/
.settings > li a{
  color : #222;
}
.settings > li a:before{
  margin-right : 7px;
  font-size : 20px;
}

.settings > li a:hover{
  background-color : #f5f5f5;
}

.settings > li a.active{
  color : #337AB7;
  background-color : #D9EDF7;
}

.settings .nav-panel{
  display : none;
}
/** settings ends**/
/**priest and event panel**/
.priest, .event{
	border : lightgrey 1px solid;
	padding : 5px;
	float : left;
	width : 200px;
	margin : 10px;
	text-align : center;
}
.controls{
	border-top : lightgrey 1px solid;
	margin-top : 5px;
}
.controls a {
	padding : 5px;
}

.priest-profile-image{
	width : 190px;
	height : 200px;
}
/**priest panel ends**/
#login-form{
	width : 350px;	
}
.center{
	margin : 0 auto;
}
.border{
	border : lightgrey 1px solid;
}

.settings-right-panel{
	height : 750px;
	overflow-y : auto;
	ocerflow-x: hidden;
}

.hidden{
	display : none;
}
