/**global commons*/
body{
	font-family : monospace;
	fontsize : 12px;
}
a{
	background-color : unset;
}

/*bootstrap form general style override */
.no-margin{
  margin-left : 0 !important;
  margin-right : 0 !important;
}

.form-header{
  color : #08C;
  font-family : monospace;
  padding-left : 15px;
}
form, .firststeps-submit-panel{
  font-family : monospace;
  color : grey;
}
.form-control{
  border : none;
  background-color : unset;
  box-shadow : none;
  border-bottom : #08C 1px dashed;
  border-radius : 0;
  color : grey;
}
.form-control:focus{
  box-shadow : none;
  border-bottom : #08C 2px solid;
  border-radius : 0;
  color : #08C;
}

fieldset{
   border : lightgrey 1px solid;
   background-color : #fcfcfc;
   padding : 10px;
   margin-bottom :10px;
}
fieldset > label{
	font-size : 12px;
	font-weight : bold;
	background-color : #08C;
	font-family : monospace;
	color :white;
	padding: 2px 5px;
	position:relative;
	left:-11px;
	top:-11px;
}
.optional:after{
	content : ' (Optional)';
	font-weight : normal;
	color : #999999;
}
.info{
	font-size : 12px;
	color : grey;
}
#firststeps-church{
	max-width : 800px;
	margin : 0 auto;
}
.form-horizontal  button.submit{
	margin-right : 20px;
}
/** first  steps styles ends **/
.overlay{
	z-index : 1001;
	display : none;
	width : 100%;
	height : 100%;
	background-color : grey;
	opacity : 0.6;
	position : fixed;
}
/**settings starts**/
.settings > li a{
  color : #222;
}
.settings > li a:before{
  margin-right : 7px;
  font-size : 20px;
}

.settings > li a:hover{
  background-color : #f5f5f5;
}

.settings > li a.active{
  color : #08C;
  background-color : #D9EDF7;
}

.settings .nav-panel{
  background-color : #fcfcfc;
  display : none;
}
/** settings ends**/


#login-form{
	width : 350px;	
}
.center{
	margin : 0 auto;
}
.border{
	border : lightgrey 1px solid;
}

.settings-right-panel{
	height : 750px;
	overflow-y : auto;
	ocerflow-x: hidden;
}

.hidden{
	display : none;
}
